@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    gap: 44px;
    padding: 22px;
    flex-direction: column;
}

.titulo a {
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 34px;
    padding-left: 75px;
    text-decoration: none;
    display: flex;
}

/* Cards */

.cardss {
    gap: 1rem;
    flex-wrap: wrap;
}

.card-img-top {
    height: 100%;
}


/* Menu Nav */

.menu {
    list-style-type: none;
}

.menu li {
    margin-right: 10px; 
    padding-left: 44px;
    padding-bottom: 10px;
} 

.menu li a {
    color: black;
    text-decoration: none;
}

/* Foto Flor */

.flor {
    border-radius: 0;
    width: 100%;
}

section {
    padding-left: 22px;
}

.imagenPrincipal {
    padding: 0px;
}

/* Menu Colores */

.menu__contacto {
    background-color: #CDFFCC;
}

.menu__bio {
    background-color: #E5F42E;
}

.menu__isla {
    background-color: #FF8D8D;
}

.menu__trabajos {
    background-color: #CCFFFC;
}

.menu a:hover {
    text-decoration: underline;
}

.main {
    padding: 0px;
}

/* Exposiciones */

.exposiciones {
    flex-direction: column;
    display: flex;
    gap: 1rem;
    width: 50%;
    margin-left: 75px;
}

.exposicion {
    padding: 16px;
    background-color: #E5F42E;
}

.exposiciones ::selection {
    background-color: black;
}

header ::selection {
   background-color: black;
   color: white;
}


/* Footer */

footer {
    text-align: center;
    padding: 16px; 
}

/* isla gola gola */

.instagram {
    color: #FF8D8D;
    text-decoration: none;
    font-weight: 400;
    margin-bottom: 16px;
}

.galeria {
    flex-wrap: wrap;
    gap: 1rem;
}

.imagen {
    width: 100%;
}


/* Contacto */ 

.container::before {
    content: "iladrondeguevaraf@gmail.com";
    position: absolute;
    bottom: 35%;
    background-color: #CDFFCC;
    font-weight: 600;
    font-size: .4em;
    padding: .50rem .5rem;
    border-radius: 8px;
    color: black;

    display: none;
    transform: scale(2);
}

.container:hover::before {
    display: inline-block;
}

.img-fluid {
    width: 550px;
    justify-content: center;
}

.container {
    justify-content: center;
}

body {
    background-color: #D4D5C2;
}
