* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontInter;

    &::selection{
        background-color: $mainColor;
        color: white;
    } 
}

body {
    background-color: $secondaryColor;
}
